<p>
    <%= interview.name %>
    <%= link_to "Show", interview_path(interview.id) %> | 
    <%= link_to "Edit", edit_interview_path(interview.id) %> | 
    <!-- <%= link_to "Destroy", interview_path(interview.id) %> -->
</p>